*{
    margin: 0;
}
body{
    width: 100%;
    background-image: url('../Img/DALL·E\ 2024-11-07\ 08.48.11\ -\ A\ clean\,\ modern\ background\ image\ with\ a\ white\ base\ color.\ The\ design\ includes\ hexagonal\ patterns\ and\ lines\ similar\ to\ a\ technology\ or\ data\ theme\,\ usin.png');
    background-attachment: fixed;
}
.headerContainer{
    color: #498C93;
    width: 100%;
    text-align: center;
    padding: 0; 
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerBackground{
    background-color: rgba(234, 234, 232, 0.2);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 180%;
}
.container_Portfolio{
    display: flex;
    margin: 3vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.informacionWeb{
    background-color: white;
    color: #498C93;
    width: 30%;
    max-width: 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1vw 0;
    border-radius: 3%;
    border-style: solid;
    border-color: #93DBC8;
    transition: transform 0.3s ease;

}
.informacionWeb h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.informacionWeb p{
    padding: 0.5em;
    font-size: larger;
}
.informacionWeb img{
    width: 100%;
    height: auto;
    border-radius: 3% 3% 0 0;
}
.informacionWeb:hover{
    transform: scale(1.05); 
    z-index: 1;
}
footer{
    background-color: rgba(234, 234, 232, 0.8);
    display: flex;
    width: 100%;
}
.listaDesordenada{
    width: 50%;
}
.listaContacto{
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0.5em;
}
.listaContacto li{
    color: #498C93;
    margin-left: 5px;
    font-size: larger;
    font-weight: bold;
}
.container_Logo{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    margin-right: 2%;
}
.logo{
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    width: 60%;
    display: flex;
    justify-content: end;
}
.logo img{
    border-radius: 50%;
    border: white 3px solid;
    width: 170px;
    height: 170px;
}